# Dependencies
node_modules/

# Production
build/
dist/

# Environment variables
.env

# Logs
*.log

#Claude
CLAUDE.md
.claude/
DEPLOYMENT.md

package-lock.json
backend/package-lock.json
frontend/package-lock.json
