PROD_SPOT_Q_PORT=5000
PROD_SPOT_Q_DATABASE_URL="Server=127.0.0.1,1433;Database=spotq;User Id=CHANGE_ME;Password=CHANGE_ME;Encrypt=true;TrustServerCertificate=true"
PROD_SPOT_Q_JWT_SECRET=CHANGE_ME_use_a_long_random_string
PROD_SPOT_Q_JWT_EXPIRE=2h
PROD_SPOT_Q_EDIT_TIME=1d
PROD_SPOT_Q_FRONTEND_URL=
PROD_SPOT_Q_DLOG=200
PROD_SPOT_Q_ADMIN_ID=
PROD_SPOT_Q_ADMIN_NAME=
PROD_SPOT_Q_ADMIN_PASSWORD=
PROD_SPOT_Q_ADMIN_RESET_PASSWORD=false
