PROD_SPOT_Q_PORT=5000
PROD_SPOT_Q_PG_HOST=postgresql://user:password@host:5432/dbname
PROD_SPOT_Q_JWT_SECRET=
PROD_SPOT_Q_JWT_EXPIRE=8h
PROD_SPOT_Q_EDIT_TIME=12h
PROD_SPOT_Q_DLOG=500
PROD_SPOT_Q_FRONTEND_URL=
PROD_SPOT_Q_ADMIN_ID=
PROD_SPOT_Q_ADMIN_NAME=
PROD_SPOT_Q_ADMIN_PASSWORD=
